/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 200px;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.carousel p,h1 { text-shadow: 2px 2px #000;}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 10px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}